<div class="container">
  <div class="row">
    <div class="mx-auto col-6 ">
      <h1>Welcome to <i class="fas fa-book"></i><strong>Bookers!!</strong></h1>
      <p>in<i class="fas fa-book"></i>Bookers,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
      <div class="btn-wrapper">
      <div class="col-8 mx-auto">
          <%= link_to "Log in", new_user_session_path, class:"btn btn-primary btn-block" %>
      </div>
      <br>
      <div class="col-8 mx-auto">
          <%= link_to "Sign up", new_user_registration_path, class:"btn btn-success btn-block" %>
      </div>
    </div>
  </div>
</div>
